p {
    color: purple;
}

body {
    front-size: 12px;
	color: green;
	background-color: #68728B
}

h1 {
	color: #E4E5E8;
	text-align: center;
	border-style: dashed;
	border-width: 4px;
	margin-left: 75px;
	margin-right: 75px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: grey;
}

#mainContant{
	margin-left: 150px;
	margin-right: 150px;
}

.centerMe{
	display: block;
	margin-left: auto;
	margin-right:auto;
}

.active{
	background-color: #555;
	color: #fff;
	
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width: 1px;
	border-style: solid;
	
}

nav ul li a:hover {
	background-color: #4CAF50;
	color: #fff;
	
	
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	width: 130px;
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
}

img{
	padding:50px;
}